body{
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

#draggable{
  width: 95%;
  height: 95%;
  position: relative;
  border:6px solid yellow;
  background-color: yellow;
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center
}

.widget-text {
}

#grid-view-1 {
  width: 80%;
  height: 300px;
  overflow: hidden;
  border: 1px solid gray;
}

#grid-view-2 {
  width: 60%;
  height: 500px;
  overflow: hidden;
  border: 1px solid gray;
}