body{
	background-image: url(background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}

#draggable{
  width: 95%;
  height: 95%;
  position: absolute;
  
  border:6px solid yellow;
  background-color: yellow;
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center
}

.widget-text{
	

}